.nominee-card {
  margin-bottom: 20px;
}

.nominee-card h2 {
  color: #ffffff;
  background-color: #34ac9c;
  padding: 10px;
}

.nominee-card ul {
  list-style: none;
  padding: 0;
}

.nominee-card li {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #fff;
  margin-bottom: 15px;
}

.nominee-card li:hover {
  background-color: #34ac9c;
}

.nominee-btn {
  width: 90px;
  margin: 10px;
}
