.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.navbar-item {
  font-size: 18px;
}

.logout-button {
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
}

.nominees-page-container {
  background-color: #0d2436;
  color: #ffffff;
  padding: 20px;
}

.page-title {
  font-size: 24px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.nominee-cards-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.nominee-cards-container ul li {
  margin: 10px;
}

.selected {
  background-color: #009b86;
}

.selected button {
  background-color: transparent;
}

.submit-button {
  background-color: #009b86;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #34ac9c;
}

.submit-button:disabled:hover,
.submit-button:disabled {
  background-color: #808080;
  cursor: not-allowed;
}
