button {
  background-color: #009b86;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background-color: #34ac9c;
}

img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
